@{
    Layout = null;

    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello From our View!</h1>
    </div>
</body>
</html>
